-c constraints.txt
boto3
botocore
certifi
dynaconf
Flask
cryptography
Flask-Mail
pgpy13
flask-cors
git+https://github.com/fictivekin/flask-csp.git#egg=flask-csp
haversine
markupsafe
python-dateutil
python-slugify
pytz
requests
sentry_sdk[flask]
setuptools
slipmatio-user-agents
stripe
subnet-utils
tqdm
Werkzeug
zappa
