-c constraints.txt
boto3
botocore
certifi
dynaconf
Flask
flask-cors
git+https://github.com/fictivekin/flask-csp.git#egg=flask-csp
haversine
markupsafe
python-dateutil
python-slugify
pytz
requests
sentry_sdk[flask]
stripe
tqdm
Werkzeug
zappa
